Django==5.1.6
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-fernet-fields-v2==0.9
python-dotenv==1.0.1
psycopg[binary]==3.2.10
redis==5.2.1
django-redis==6.0.0
celery==5.4.0
smsir-python==1.1.0
requests==2.32.3

# Testing
pytest==8.4.0
pytest-django==4.11.1
pytest-cov==6.2.1
factory-boy==3.3.3
faker==37.1.0